*.mo
*.pyc
/.DS_Store
/.idea/
/.installed.cfg
/.mr.developer.cfg
/.mxmake/
/.plone.versioncheck.*
/.project
/.pydevproject
/.pydevproject.bak
/.settings/
/.vscode/
/bin/
/buildout-cache/
/buildout.cfg
/constraints-mxdev.txt
/coverage/
/develop-eggs/
/devsrc/
/dist/
/env/
/htmlcov/
/include/
/instance.yaml
/instance/
/lib/
/local/
/parts/
/pip-selfcheck.json
/report/
/requirements-mxdev.txt
/share/
/sources/
/src/bda.plone.productshop.egg-info/
/src/bda/plone/productshop/profiles/.DS_Store
/var/
/venv/
/vpython/
eggs
node_modules
